@import "foundation.css";

html{
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(../images/bg.gif);
}

@media (max-width: 800px){
  html{
	background-image: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5));
  }
}

main h2 + pre {
  font-size: 10px;
}
main section {
  font-family: "Yeseva One", serif;	
}
table {
  table-layout: auto;
  border-collapse: collapse;
  border: 3px solid rgb(200,200,200);
  letter-spacing: 0.1px;
  font-size: 0.1rem;
  width: calc(100% - 5px);
}
caption {
  padding: 10px;
}
td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 5px;
}
td {
  text-align: center;
}
thead tr:nth-child(1) th{
  background-color: Gray;
}
tbody th {
  background-color: Gray;
}
tr:nth-child(even) td {
  background-color: White;
}
tr:nth-child(odd) td {
  background-color: Gainsboro;
}

blockquote{
  font-family: 'Yeseva One', sans-serif;
  padding: 0 20px 10px 20px;
  background: #eee;
  border-radius: 10px;
  position: relative;
}
blockquote cite{
  position: absolute;
  right: 10px;
}
blockquote div::before {
  content: '\201C';
  color: black;
}
blockquote div::after {
  content: '\201D';
  color: black;
}
