@import "foundation.css";

main sup{
  font-size: 10px;
}

section h2{
  font-size: 30px;
  text-align: center;
  margin: 5px auto;
  padding: 0;
  color: pink;
}

section figure{
  margin: 0;
  padding: 0;
}

section img,video,audio{
  display: block;
  margin: 0 auto;
  width: 80%;
}

section img{
  height: 250px;
  object-fit: contain;
  max-width: 100%;
}

section img:hover{
  transform: rotate(0.01turn);
}

section video::cue {
  font-size: 2rem;
  color: Crimson;
}

.riyu {
  color: purple;
}
.riyu.hashiqi {
  text-decoration: none;
}
/*
a[href="resource.html#hashiqi"] {
  text-decoration: none;
}
*/
/*
a[class~="hashiqi"] {
  text-decoration: none;	
}
*//*其值中至少有一个用逗号分隔开为hashiqi的所有字符串*/
/*
a[class^="hashiqi"]其值开头为hashiqi的所有子字符串
a[class$="hashiqi"]其值结尾为hashiqi的所有子字符串
a[class*="hashiqi" i]其值任何位置出现hashiqi的所有子字符串; 在闭合括号之前,使用i值,让敏感大小写的html不敏感
*/

main {
  display: flex;
}

article, section {
  background-color: AliceBlue;
  margin-right:10px;
  flex: 4;
}

aside#index{
  display: flex;
  background-color: AliceBlue;
  margin-left: 10px;
  flex: 1;
  justify-content: center;/*行内方向（横向）所有的元素中线对齐*/
  align-items: center;/*块级方向（纵向）上的全部元素居中对齐*/
}

aside dl{
  margin-top:0;
  text-align: center;
}
aside dt:after {
  content: ": ";
}
aside dt {
  font-weight: bold;
}
aside dd{
  font-size: 1.5rem;
}

aside mark{
  background-color: Lavender;
  color: Crimson;
}

aside#resource{
  background-color: AliceBlue;
  margin-left:10px;
  flex: 2;
}

aside figure{
  margin: 10px 0 20px;
}

aside figcaption{
  font-size: 1.5rem;
  background-image: url("../images/background.png"); /* 可以添加任意数量图片，在url中间用逗号隔开；若插多个背景需用background-repeat和background-position等来确定样式 */
}

aside img{
  height: 200px;
  width: 90%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: thick ridge gold;
}

