html {
  font-size: 15px; /* 基础字号为 10 像素 */
  font-family: "Dancing Script", serif;
  background-color: #a9a9a9;
  margin:0;
  padding:0;
}

body {
  width: 90%;
  min-width: 600px;
  margin: 0 auto;
  background-color: rgba(236,236,255,0.5); /* RGBA 颜色值是 RGB 颜色值的扩展，添加了一个 alpha 通道， 它规定了对象的不透明度。R/G/B:正整数（0~255）或 百分数（0.0% - 100.0%),A：透明度:取值0~1之间，不可为负值 */
  padding: 0 20px 20px 20px; 
  border: 5px solid black;
}

header {
  margin-top: 10px;
  padding: 1%;
  display: flex;/* flex容器内的元素弹性布局，能最大限度填充可用空间 */
  flex-flow: row wrap;/* raw表示默认值从左排序，wrap表示超过一行/列就自动换行/列 */
  background: rgba(236,236,255,0.5);
}

header img {
  display: block;
  height: 80px;
  padding-top: 20px;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px;
  color: #FF3399;
  text-shadow: 3px 3px 1px black;
  flex: 5;
  text-transform: capitalize;
}

header button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  width:150px;
  height:30px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  border-width: 20px 10px;
  border-radius: 30px;
  border:outset khaki;
}
header button:hover{
  background-color:#333399;
}

header form{
  margin-top: 20px;
}
form #sousuo{
  width: 105px;
}

nav {
  height: 40px;
  flex: 100%;
  display: flex;
  background: rgba(236,236,255,0.5);
}

nav ul{
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline-block;
  height:3rem;
  text-align: center;
  flex: 1;
}

nav a, nav span{
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  text-decoration: none;	
  color: black;
}
nav a:hover{
  color: Turquoise;
  font-weight: bolder;
}

main p,li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

main sup{
  font-size: 10px;
}

section img,video{
  display: block;
  margin: 10px auto;
  width: 70%;
}

section h2{
  font-size: 30px;
  text-align: center;
  margin:10px auto;
  padding:0 auto;
  color: pink;
}

.riyu{
  color: purple;
}
.hashiqi{
  text-decoration: none;
}

main {
  display: flex;
}

article, section {
  background-color: AliceBlue;
  margin-right:10px;
  flex: 4;
}

aside#index{
  display: flex;
  background-color: AliceBlue;
  margin-left: 10px;
  flex: 1;
  justify-content: center;/*行内方向（横向）所有的元素中线对齐*/
  align-items: center;/*块级方向（纵向）上的全部元素居中对齐*/
}

aside dl{
  margin-top:0;
  text-align: center;
}
aside dt:after {
  content: ": ";
}
aside dt {
  font-weight: bold;
}
aside dd{
  font-size: 1.5rem;
}

aside mark{
  background-color: Lavender;
  color: Crimson;
}

aside#resource{
  background-color: AliceBlue;
  margin-left:10px;
  flex: 2;
}

aside figure{
  margin: 10px 0 20px;
}

aside figcaption{
  font-size: 1.5rem;
  background-image: url("../images/background.png"); /* 可以添加任意数量图片，在url中间用逗号隔开；若插多个背景需用background-repeat和background-position等来确定样式 */
}

aside img{
  height: 200px;
  width: 90%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: thick ridge gold;
}

footer {
  margin-top: 10px;
}
footer #fenxiang{
  float: right;
}
